@import "variables";

.greeting {
  margin: 1em 0 0.5em 1em;
}

.search-container {
  @include FlexCenter;
}

.search {
  margin-left: auto;
  margin-right: auto;
  padding: 0.25em;
  width: 90%;
  max-width: 950px;
}
